# dependencies
node_modules/
.pnp
.pnp.js

# builds
dist/
build/
.next/
out/
.turbo/

# env & secrets
.env
.env.local
.env.*.local
!.env.example

# prisma
packages/database/prisma/*.db

# logs
*.log
npm-debug.log*

# os / editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# test / coverage
coverage/
